<div class="outer-wrapper">
  <div class="pic-wrapper">
      <%= cl_image_tag @cocktail.photo_url, height: 300, crop: :fill %>
    </div>
  <div class="ingredients-wrapper">

    <h1>Time for a <%= @cocktail.name %>!</h1>
    <p>Ingredients:</p>
    <ul>
    <% @cocktail.doses.each do |dose| %>
    <li> <%= dose.ingredient.name %> (<%= dose.description %>) <%= link_to dose_path(dose), method: "delete" do %><i class="fas fa-trash delete-icon"></i><% end %></li>
    <% end %>
    </ul>
    <div class="ingredients-buttons-wrapper">
      <%= link_to "Add Ingredient", new_cocktail_dose_path(@cocktail), class: "btn btn-primary" %>
      <%= link_to "Delete", cocktail_path, method: "delete", class: "btn btn-primary" %>
      <%= link_to "Back", cocktails_path, class: "btn btn-primary" %>
    </div>

  </div>

</div>
